@use "./modules/" as m;

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

// NAVBAR
.navbar {
  @include m.navbar(white);

  #{&}__brand {
    display: block;
    border-radius: 0.125rem;
    outline-offset: 0.125rem;

    &:focus-visible {
      outline: 0.125rem solid m.color(primary__bright-red);
    }
  }

  #{&}__links {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
  }

  #{&}__link {
    @include m.navlink(
      m.color(neutral__dark-blue),
      m.weight(medium),
      m.color(neutral__dark-grayish-blue),
      var(--step--1)
    );
  }
}

.btn__primary {
  @include m.button(
    white,
    m.color(primary__bright-red),
    m.weight(semibold),
    var(--step--1)
  );
  //   background: green; (for preview only)
}

// HERO
.hero {
  #{&}__text-content {
    padding: 3rem 6rem;
  }

  #{&}__heading {
    font-size: var(--step-4);
    line-height: 1.2;
    color: m.color(neutral__dark-blue);
    margin-bottom: 1rem;
  }

  #{&}__text {
    font-size: var(--step--1);
    color: m.color(neutral__dark-grayish-blue);
    margin-bottom: 2rem;
  }

  #{&}__btn {
    display: inline-block;
  }

  #{&}__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 6rem;
    position: relative;
    overflow: hidden;
  }

  #{&}__image {
    max-width: 30rem;
  }

  #{&}__pattern {
    position: absolute;
    top: -50%;
    right: -25%;
    z-index: -1;
  }
}

// ABOUT
.about {
  position: relative;
  //   overflow: hidden;

  #{&}__pattern {
    position: absolute;
    max-width: 35rem;
    bottom: -25%;
    left: -20%;
    z-index: -1;
  }

  #{&}__text-content {
    padding: 3rem 6rem;
  }

  #{&}__heading {
    font-size: var(--step-2);
    margin-bottom: 2rem;
  }

  #{&}__text {
    color: m.color(neutral__dark-grayish-blue);
    font-size: var(--step--1);
  }

  #{&}__features-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 6rem;
  }

  #{&}__features-item__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-block: 1rem;
  }

  .features__count {
    display: block;
    background-color: m.color(primary__bright-red);
    padding: 0.5rem 1.25rem;
    border-radius: 5rem;
    font-weight: m.weight(bold);
    color: white;
  }

  .features__heading {
    font-size: var(--step-0);
    color: m.color(neutral__dark-blue);
  }

  .features__text {
    color: m.color(neutral__dark-grayish-blue);
    font-size: var(--step--1);
    // margin-left: 5rem;
  }
}

// TESTIMONIALS
.testimonials {
  padding-block: 6rem 3rem;

  #{&}__heading {
    font-size: var(--step-2);
    text-align: center;
    margin-bottom: 5rem;
  }

  #{&}__item {
    background-color: m.color(neutral__light-gray);
    padding: 2rem 1rem;
    padding-top: 3rem;
    // box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    text-align: center;
    position: relative;
  }

  #{&}__item__img {
    max-width: 4.5rem;
    position: absolute;
    inset: 0;
    top: -20%;
    margin-inline: auto;
  }

  .testimonial__name {
    font-size: var(--step--1);
    margin-bottom: 1rem;
  }

  #{&}__btn-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 5rem;
  }
}

// FOOTER
.footer {
  background-color: m.color(neutral__dark-blue);
  padding: 3rem;

  #{&}__logo {
    display: inline-block;
    margin-bottom: 5rem;

    img {
      filter: invert(100%);
    }
  }

  #{&}__social-icons {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    gap: 1rem;
    margin-left: 0;
    padding: 0;
  }

  #{&}__social-icon {
    width: 2rem;
    display: block;
  }

  #{&}__links-wrapper {
    display: flex;
    justify-content: space-evenly;
  }

  #{&}__links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
  }

  #{&}__link {
    @include m.navlink(
      m.color(neutral__pale-blue),
      m.weight(medium),
      m.color(neutral__dark-grayish-blue),
      var(--step--1)
    );
  }

  #{&}__copy {
    color: m.color(neutral__dark-grayish-blue);
    font-size: var(--step--1);
    text-align: right;
  }
}

.form {
  #{&}__cols {
    display: flex;
    gap: 1rem;
    margin-bottom: 5rem;
  }

  #{&}__label {
    color: m.color(neutral__dark-grayish-blue);
    display: block;
    margin-block: 0.5rem;
    font-size: var(--step--1);
  }

  .status-error {
    font-weight: m.weight(medium);
    color: m.color(primary__bright-red);
  }

  .status-success {
    color: #5aaa95;
    font-weight: m.weight(medium);
  }

  #{&}__input {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 5rem;
    font-size: var(--step--1);
    outline-offset: 0.125rem;
    position: relative;

    &:focus-visible {
      outline: 0.125rem solid m.color(primary__bright-red);
    }
  }

  #{&}__submit {
    @include m.button(
      white,
      m.color(primary__bright-red),
      m.weight(semibold),
      var(--step--1)
    );
    border: none;
  }
}
