@use "./modules/" as m;

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

// SKIP TO CONTENT
.skip-link {
  text-align: center;
  padding: 1rem;
  background-color: m.color(neutral__pale-blue);
  // transform: translateY(-100%);
  width: 30rem;
  height: fit-content;
  margin-inline: auto;
  inset: 0;
  border-radius: 0.25rem;
  top: 1rem;
  position: absolute;
  opacity: 0;
  text-decoration: none;
  color: m.color(primary__bright-red);
  font-weight: m.weight(medium);
  font-size: var(--step--1);
  transition: 0.25s ease;

  &:hover {
    text-decoration: underline 2px;
  }

  &:focus-visible {
    opacity: 1;
  }
}

// NAVBAR
.navbar {
  @include m.navbar(white);

  @media screen and (width < 50rem) {
    flex-direction: column;
    justify-content: center;
    min-height: fit-content;
  }

  #{&}__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;

    @media screen and (width < 50rem) {
      width: 100%;
    }
  }

  #{&}__brand {
    display: block;
    border-radius: 0.125rem;
    padding: 0.5rem;
    outline-offset: 0.125rem;

    &:focus-visible {
      outline: 0.125rem solid m.color(primary__bright-red);
    }
  }

  #{&}__logo {
    max-width: 10rem;
  }

  // Toggle Button
  #{&}__toggle-btn {
    display: none;
    border: none;
    outline: none;
    font-size: var(--step-2);
    font-weight: m.weight(bold);
    cursor: pointer;
    outline-offset: 0.25rem;
    border-radius: 0.25rem;
    padding: 0.5rem;
    background-color: transparent;
    transition: 0.125s ease;

    & i {
      display: block;
    }

    @media screen and (width < 50rem) {
      display: block;
    }

    &:focus {
      background-color: m.color(neutral__pale-blue);
    }

    &:focus-visible {
      outline: 0.125rem dashed currentColor;
    }
  }

  #{&}__links {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;

    @media screen and (width < 50rem) {
      // display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 0;
      margin: 0;
      overflow: hidden;
      padding: 1rem;
      opacity: 0;
      transition: 0.25s ease-in-out;
    }
  }

  .links-show {
    opacity: 1;
    height: 15rem;
  }

  #{&}__link {
    @include m.navlink(
      m.color(neutral__dark-blue),
      m.weight(medium),
      m.color(neutral__dark-grayish-blue),
      var(--step--1)
    );
  }

  .btn {
    @media screen and (width < 50rem) {
      display: none;
    }
  }
}

.btn__primary {
  @include m.button(
    white,
    m.color(primary__bright-red),
    m.weight(semibold),
    var(--step--1)
  );
  //   background: green; (for preview only)
}

.btn__secondary {
  @include m.button(
    m.color(primary__bright-red),
    white,
    m.weight(semibold),
    var(--step--1)
  );
  text-transform: capitalize;
}

// HERO
.hero {
  #{&}__text-content {
    padding: 3rem 6rem;

    @media screen and (width < 50rem) {
      text-align: center;
      padding: 1.5rem 3rem;
      order: 2;
    }
  }

  #{&}__heading {
    font-size: var(--step-4);
    line-height: 1.2;
    color: m.color(neutral__dark-blue);
    margin-bottom: 1rem;
  }

  #{&}__text {
    font-size: var(--step--1);
    color: m.color(neutral__dark-grayish-blue);
    margin-bottom: 2rem;
  }

  #{&}__btn {
    display: inline-block;
  }

  #{&}__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 6rem;
    position: relative;
    overflow: hidden;

    @media screen and (width < 50rem) {
      order: 1;
      padding: 2rem;
    }
  }

  #{&}__image {
    max-width: 30rem;

    @media screen and (width < 50rem) {
      max-width: 100%;
    }
  }

  #{&}__pattern {
    position: absolute;
    top: -50%;
    right: -25%;
    z-index: -1;
  }
}

// ABOUT
.about {
  position: relative;
  @media screen and (width < 50rem) {
    overflow: hidden;
  }

  #{&}__pattern {
    position: absolute;
    max-width: 35rem;
    bottom: -25%;
    left: -20%;
    z-index: -1;
  }

  #{&}__text-content {
    padding: 3rem 6rem;

    @media screen and (width < 50rem) {
      padding: 1.5rem 3rem;
      text-align: center;
    }
  }

  #{&}__heading {
    font-size: var(--step-2);
    margin-bottom: 2rem;
  }

  #{&}__text {
    color: m.color(neutral__dark-grayish-blue);
    font-size: var(--step--1);
  }

  #{&}__features-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 6rem;

    @media screen and (width < 50rem) {
      padding: 1.5rem;
    }
  }

  #{&}__features-item__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-block: 1rem;
    position: relative;

    @media screen and (width < 50rem) {
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        margin: auto;
        width: 100%;
        background-color: m.color(primary__bright-red);
        max-height: 60%;
        opacity: 0.25;
        border-radius: 5rem;
      }
    }
  }

  .features__count {
    display: block;
    background-color: m.color(primary__bright-red);
    padding: 0.5rem 1.25rem;
    border-radius: 5rem;
    font-weight: m.weight(bold);
    color: white;
  }

  .features__heading {
    font-size: var(--step-0);
    color: m.color(neutral__dark-blue);
  }

  .features__text {
    color: m.color(neutral__dark-grayish-blue);
    font-size: var(--step--1);
    // margin-left: 5rem;
  }
}

// TESTIMONIALS
.testimonials {
  padding-block: 6rem 3rem;

  #{&}__heading {
    font-size: var(--step-2);
    text-align: center;
    margin-bottom: 5rem;
  }
}

.testimonials__item {
  background-color: m.color(neutral__light-gray);
  padding: 4rem;
  inset: 0;
  margin: 2rem auto;
  margin-top: 4rem;
  padding-top: 3rem;
  max-width: 50rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  text-align: center;
  position: relative;
}

.testimonials__item__img {
  max-width: 5rem;
  position: absolute;
  inset: 0;
  top: -20%;
  margin-inline: auto;
  z-index: 2;
}

.testimonial__name {
  font-size: var(--step-1);
  margin-bottom: 1rem;
}

.testimonial__text {
  font-size: var(--step-0);
}

.testimonials__btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 5rem;
}

// SIMPLIFY
.simplify {
  padding: 5rem 10rem;
  background-color: m.color(primary__bright-red);
  position: relative;
  overflow: hidden;
  z-index: 1;

  @media screen and (width < 50rem) {
    padding: 1.5rem 3rem;
  }

  #{&}__pattern {
    position: absolute;
    left: 15%;
    bottom: 0;
    z-index: -1;
  }

  #{&}__cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (width < 50rem) {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }

  #{&}__text {
    padding-right: 2rem;
  }

  #{&}__heading {
    font-size: var(--step-2);
    color: white;
  }

  #{&}__btn-center {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (width < 50rem) {
      justify-content: start;
    }
  }
}

// FOOTER
.footer {
  background-color: m.color(neutral__dark-blue);
  padding: 3rem;

  #{&}__logo {
    display: inline-block;
    margin-bottom: 5rem;

    @media screen and (width < 50rem) {
      margin-bottom: 3rem;
    }

    img {
      filter: invert(100%);
    }
  }

  #{&}__social-icons {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    gap: 1rem;
    margin-left: 0;
    padding: 0;
  }

  #{&}__social-icon {
    width: 2rem;
    display: block;
  }

  #{&}__links-wrapper {
    display: flex;
    justify-content: space-evenly;

    @media screen and (width < 50rem) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  #{&}__logo-img {
    max-width: 10rem;
  }

  #{&}__links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
  }

  #{&}__link {
    @include m.navlink(
      m.color(neutral__pale-blue),
      m.weight(medium),
      m.color(neutral__dark-grayish-blue),
      var(--step--1)
    );
  }

  #{&}__social-icon {
    display: block;
    &:hover {
      opacity: 0.5;
    }
  }

  #{&}__social__icon {
    max-width: 1.25rem;
  }

  #{&}__copy {
    color: m.color(neutral__dark-grayish-blue);
    font-size: var(--step--1);
    text-align: right;

    @media screen and (width < 50rem) {
      & {
        text-align: center;
      }
    }
  }
}

.form {
  #{&}__cols {
    display: flex;
    gap: 1rem;
    margin-bottom: 5rem;

    @media screen and (width < 50rem) {
      margin-bottom: 5rem;
    }
  }

  #{&}__label {
    color: m.color(neutral__dark-grayish-blue);
    display: block;
    margin-bottom: 1rem;
    font-size: var(--step--1);
  }

  .status-error {
    font-weight: m.weight(medium);
    color: m.color(primary__bright-red);
  }

  .status-success {
    color: #5aaa95;
    font-weight: m.weight(medium);
  }

  #{&}__input {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 5rem;
    font-size: var(--step--1);
    outline-offset: 0.125rem;
    position: relative;

    &:focus-visible {
      outline: 0.125rem solid m.color(primary__bright-red);
    }
  }

  #{&}__submit {
    @include m.button(
      white,
      m.color(primary__bright-red),
      m.weight(semibold),
      var(--step--1)
    );
    border: none;
  }
}
